<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" routerLink="/app-home" class="navbar-brand">Home</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="/app-skills" href="#">Skills</a>
        </li>
        <li>
          <a routerLink="/app-projects" href="#">Projects</a>
        </li>
        <li>
          <a routerLink="/app-education" href="#">Education</a>
        </li>
        <li>
          <a routerLink="/app-contact" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>